<div class="keyboard-container" data-controller="keyboard">
  <div class="text-input-container">
    <textarea id="text-input" class="text-input" rows="3" readonly></textarea>
  </div>

  <div class="keyboard" id="letter-keyboard">
    <div class="keyboard-row">
      <% "QWERTYUIOP".each_char do |key| %>
        <button class="key" data-key="<%= key %>"><%= key %></button>
      <% end %>
      <button class="key key-wide" data-key="backspace">⌫</button>
    </div>
    
    <div class="keyboard-row">
      <% "ASDFGHJKLÇ".each_char do |key| %>
        <button class="key" data-key="<%= key %>"><%= key %></button>
      <% end %>
      <button class="key key-wide" data-key="enter">⏎</button>
    </div>
    
    <div class="keyboard-row">
      <% "ZXCVBNM".each_char do |key| %>
        <button class="key" data-key="<%= key %>"><%= key %></button>
      <% end %>
      <button class="key" data-key=",">,</button>
      <button class="key" data-key=".">.</button>
      <button class="key" data-key=" ">␣</button>
      <button id="keyboard-toggle" class="key key-wide" data-key="">123</button>
    </div>
  </div>

  <div class="keyboard hidden" id="number-keyboard">
    <div class="keyboard-row">
      <% "123".each_char do |key| %>
        <button class="key" data-key="<%= key %>"><%= key %></button>
      <% end %>
      <button class="key" data-key="backspace">⌫</button>
    </div>
    
    <div class="keyboard-row">
      <% "4560".each_char do |key| %>
        <button class="key" data-key="<%= key %>"><%= key %></button>
      <% end %>
    </div>
    
    <div class="keyboard-row">
      <% "789".each_char do |key| %>
        <button class="key" data-key="<%= key %>"><%= key %></button>
      <% end %>
      <button id="keyboard-toggle-num" class="key" data-key="">ABC</button>
    </div>
  </div>
</div>
